@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-weight: 500;
    font-size: 16px;
}
body{
    /* background:url('https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    display: grid;
    place-items: center;
    font-weight: 450;
    opacity: 1;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


.none
{
    display: none;
}
.resume
{
    margin-top: 20px;
    width: 800px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
#print
{
    background-color: #fff;
    padding: 30px 50px;
    height: 1120px;

}

.head
{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}
.head .main .name
{
    font-size: 55px;
    font-family: 'Lora';
}
.head .main  span:nth-child(2)
{
    color: rgb(100, 100, 100);
    font-size: 55px;
    font-family: 'Lora';
    margin-left: 5px;
}
.head .main .post
{
font-family: 'Lora';
}
.head .contacts
{
    text-align: right;
    padding-top: 7px;
}
.head .contacts .content
{
    font-weight: 500;
    padding-right: 5px;
}
.head .contacts .symbol
{
    margin-right: 5px;
    font-size: 15px;
    width: 17px;
    height: 17px;
}
.line
{
    height: 0.5px;
    background-color: rgb(87, 87, 87);
    margin: 25px 0;
    margin-bottom: 50px;
}
.mainbody
{
    display: grid;
    grid-template-columns: 10fr 1fr 17fr;
    height: 900px;
}
.mainbody .border
{
    background-color: rgb(87, 87, 87);
    width: 3px;
    opacity: 2;
}
.mainbody .rightside
{
    padding-left: 15px;
}
/* .title
{
    font-weight: 700;
    font-size: 20px;
    border: none;
    padding-bottom: 4px;
    border-bottom: 2px rgb(102, 164, 252) solid;
    letter-spacing: 0.1rem;
} */

.title {
    font-weight: 700;
    font-size: 20px; 
    border: none;
    padding-bottom: 8px;
    border-bottom: 2px solid rgb(102, 164, 252); 
    letter-spacing: 0.05rem; 
    color: #333; 
    text-transform: uppercase; 
    transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.title:hover {
    border-color: rgb(76, 76, 230);
    color: rgb(76, 76, 230);
}

.title:focus {
    outline: none; 
    border-color: rgb(255, 69, 0); 
    color: rgb(255, 69, 0); 
}

.skill
{
    margin-bottom: 10px;
}

.button1 {
    align-self: center;
    background-color: #fcf9ed;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button1:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button1:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .button2 {
    align-self: center;
    background-color: #fcf9ed;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button2:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
}

.button2:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }


.language
{
    margin-bottom:6px;
}
.language span:nth-child(odd)
{
    font-weight: 600;
}
.edublock{
    margin-bottom: 10px;
}
.titles-head
{
    font-size: 20px;
}

.titles-desc{
    font-size:17px;
}
.navbtn
{
position: fixed;
top: 40%;
left: 4%;
transform: translate(-40%,-4%);
height: 60px;
width: 60px;
border-radius: 50%;
border:#fff 2px solid;
transition: 300ms ease-in-out;
box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.navbtn:nth-child(2)
{
top: 50%;
left: 4.4%;
transform: translate(-50%,-4.4%);
}
.navbtn:nth-child(3)
{
top: 60%;
left: 4.8%;
transform: translate(-60%,-4.8%);
}
.navbtn:hover
{
    background-color: black;
    color: #fff;
    border: #000 2px solid;
    height: 65px;
    width: 65px;
}
.input-checkbox{
    margin-right: 10px;
}

.profiletxt{
    font-family: 'Sedan';
    padding: 10px;

}