<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JobMeUp</title>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="new1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    
    <link href="{{ url_for('static', filename='landing-page1.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="https://webchat-styler-css.botpress.app/prod/code/bccd6999-ac74-47a4-aea6-001e1c54c493/v41495/style.css">
   
    
    
</head>
<body>
    <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
    <script src="https://mediafiles.botpress.cloud/f58db687-d73e-4e76-9d85-19b04575947a/webchat/config.js" defer></script>
    <div class="open">
        <div class="layer"></div>
        <div class="layer"></div>
    </div>
    <header>
        <div class="header">
            <div>
            <ul>
                <li><a href="#" class="active">Home</a></li>
                <li><a href="#section2">About</a></li>
                <li><a href="#section3">Features</a></li>
                <li><a href="#">Career Exploration</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="quiz">Quiz</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/payment_form">Pay</a></li>
            </ul>
        </div>
        </div>
    </header>
    <section>
        <svg preserveAspectRatio="xMidYMid slice" viewBox="10 10 80 80">
            <defs>
                <style>
                    @keyframes rotate {
                   0% {
                            transform: rotate(0deg);
                        }
                        100% {
                            transform: rotate(360deg);
                        }
                    }
                    .out-top {
                        animation: rotate 20s linear infinite;
                        transform-origin: 13px 25px;
                    }
                    .in-top {
                        animation: rotate 10s linear infinite;
                        transform-origin: 13px 25px;
                    }
                    .out-bottom {
                        animation: rotate 25s linear infinite;
                        transform-origin: 84px 93px;
                    }
                    .in-bottom {
                        animation: rotate 15s linear infinite;
                        transform-origin: 84px 93px;
                    }
                </style>
            </defs>
            <path fill="#e4572eff" class="out-top" d="M37-5C25.1-14.7,5.7-19.1-9.2-10-28.5,1.8-32.7,31.1-19.8,49c15.5,21.5,52.6,22,67.2,2.3C59.4,35,53.7,8.5,37-5Z"/>
            <path fill="#f2af29ff" class="in-top" d="M20.6,4.1C11.6,1.5-1.9,2.5-8,11.2-16.3,23.1-8.2,45.6,7.4,50S42.1,38.9,41,24.5C40.2,14.1,29.4,6.6,20.6,4.1Z"/>
            <path fill="#8f6593ff" class="out-bottom" d="M105.9,48.6c-12.4-8.2-29.3-4.8-39.4.8-23.4,12.8-37.7,51.9-19.1,74.1s63.9,15.3,76-5.6c7.6-13.3,1.8-31.1-2.3-43.8C117.6,63.3,114.7,54.3,105.9,48.6Z"/>
            <path fill="#3b252cff" class="in-bottom" d="M102,67.1c-9.6-6.1-22-3.1-29.5,2-15.4,10.7-19.6,37.5-7.6,47.8s35.9,3.9,44.5-12.5C115.5,92.6,113.9,74.6,102,67.1Z"/>
        </svg>


<div class="main-text">
    <div class="bannerText">
        <h2>JobMeUp</h2><br>
        <h3>One Stop Destination</h3>
    </div>
    <div>
        <img src="{{ url_for('static', filename='bg.png') }}" class="logo" alt="nhi aari bhai">
       
    </div>

</div>


        <ul class="sci">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </section>
    <section class="section2" id ="section2">
        <div class="content">
            <h2 class="slideInLeft">About Us</h2>
            <p>infooooo</p>
    </section>
    <section class="section2" id ="section2">
        <div class="content">
            <h2 class="slideInLeft">About Us</h2>
            <p>infooooo</p>
    </section>
    <section class="section3" id="section3">
        <div class="content">
    
                <div class="row-1">
                  <h1>Our Features</h1>
                </div>
                <div class="row">
                  <!-- Column One -->
                  <div class="column">
                    <div class="card">
                      <div class="icon">
                        <i class="fa-solid fa-user"></i>
                      </div>
                      <h3>QUIZ</h3>
                      <p>
                      Take the quiz and Get your personalized domain suggestion which would suit you best according to your quiz scores.
                      </p>
                    </div>
                  </div>
                  <!-- Column Two -->
                  <div class="column">
                    <div class="card">
                      <div class="icon">
                        <i class="fa-solid fa-shield-halved"></i>
                      </div>
                      <h3>Web RTC</h3>
                      <p>
                        Get career Counselling from our experts through one-on-one video Counselling with them.
                      </p>
                    </div>
                  </div>
    

                </div>
              
        </div>
    </section>
            <!-- footer section start -->
            <footer class="contact" id="contact">
                <h2 class="heading">Contact <span>Me</span><span class="animate scroll" style="--i:1;"></span></h2>
        
                <form action="#">
                    <div class="input-box">
                        <div class="input-field">
                            <input type="text" placeholder="Full Name" required>
                            <span class="focus"></span>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Email" required>
                            <span class="focus"></span>
                        </div>
        
                        <span class="animate scroll" style="--i:3;"></span>
                    </div>
                    <div class="input-box">
                        <div class="input-field">
                            <input type="number" placeholder="Mobile Number" required>
                            <span class="focus"></span>
                        </div>
                        <div class="input-field">
                            <input type="text" placeholder="Email Subject" required>
                            <span class="focus"></span>
                        </div>
        
                        <span class="animate scroll" style="--i:5;"></span>
                    </div>
        
                    <div class="textarea-field">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                        <span class="focus"></span>
        
                        <span class="animate scroll" style="--i:7;"></span>
                    </div>
        
                    <div class="btn-box btns">
                        <button type="submit" class="btn">Submit</button>
        
                        <span class="animate scroll" style="--i:9;"></span>
                    </div>
                </form>
            </footer>
        
          <footer class="footer-distributed">

                <div class="footer-left">
          
                  <h3>Company<span>logo</span></h3>
          
                  <p class="footer-links">
                    <a href="#" class="link-1">Home</a>
                    
                    <a href="#">Blog</a>
                  
                    <a href="#">Jobs</a>
                  
                    <a href="#">About</a>
                    
                    <a href="#">Faq</a>
                    
                    <a href="#">Contact</a>
                  </p>
          
                  <p class="footer-company-name">JobMeUp © 2024</p>
                </div>
          
                <div class="footer-center">
          
                  <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>ABC</span> Delhi, India</p>
                  </div>
          
                  <div>
                    <i class="fa fa-phone"></i>
                    <p>+91-50-90923451</p>
                  </div>
          
                  <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@jobmeup.com">support@jobmeup.com</a></p>
                  </div>
          
                </div>
          
                <div class="footer-right">
          
                  <p class="footer-company-about">
                    <span>About the company</span>
                   One stop destination to learning platform
                  </p>
          
                  <div class="footer-icons">
          
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-github"></i></a>
          
                  </div>
          
                </div>
          
              </footer>
                    
</body>
</html>
